header{
	border: solid 1px orange;
}
.jumbotron{
	border: solid 1px red;
}
.welcome,
.trivia{
	border: solid 1px blue;
}
.ytResults{
	clear: left;
}
.recipe{
	float: left;
	width: 200px;
	height: 500px;
	margin: 10px;
	padding: 20px;
	border: solid 1px #ff4b51;
	border-radius: 4px;
	color: #ff4b51;
}
.recipe img{
	max-width: 100%;
}
.recipeLink{
	border: none;
	border-radius: 15px;
	background-color: #ff4b51;
	color: white;
}