nav{
	overflow: hidden;
}
nav ul{
	list-style: none;
}
nav li{
	float: left;
	text-align: center;
}
nav a{
	display: block;
	width: 70px;
	border-right: solid 1px black;
	color: black;
}
header{
	padding: 10px;
	background-color: #ff4b51;
}
.welcome-container{
	overflow: hidden;
	background: url('../images/sebastian-lp-204232.jpg') left;
	background-size: cover;
	padding: 40px;
	color: white;
}
.searchForm{
	color: black;
}
.welcome,
.trivia{
	border: solid 1px blue;
}
.ytResults{
	clear: left;
}
.recipe{
	float: left;
	width: 200px;
	height: 500px;
	margin: 10px;
	padding: 20px;
	border: solid 1px #ff4b51;
	border-radius: 4px;
	color: #ff4b51;
}
.recipe img{
	max-width: 100%;
}
.recipeLink{
	border: none;
	border-radius: 15px;
	background-color: #ff4b51;
	color: white;
}
.recipeImageContainer{
	width: 25%;
}
.recipeImage{
	max-width: 100%;
}
.mealDay{
	float: left;
}