html{ font-size: 62.5%; }
body{
	margin: 0;
	padding: 0;
	font: 1.4rem "Futura PT", Arial, sans-serif;
	color: black;
	background: #e9e9e5;
}
a:visited,
.recipe a:visited{
	color: inherit;
}
/*-------------------------- =Navigation----------------*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #b74949;
	z-index: 2;
}
nav{
	width: 100%;
	overflow: hidden;
}
nav form{
	float: right;
	margin-right: 2%;
	padding: 17.5px 0;
}
nav input[type="search"]{
	color: black;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background: white;
}
nav ul{
	width: 50%;
	margin: 0 2% 0 2%;
	float: left;
	list-style: none;
	padding: 10px 0;
}
nav li{
	float: left;
	margin-right: 5%;
}
nav a{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
	display: block;
	padding: 10px 0;
}
nav a:hover{
	color: white;
	text-decoration: underline;
}
nav a:visited{
	color: white;
}
nav a[href*="index"]{
	background: url('../images/cc-logo.png') no-repeat -20px -27px;
	background-size: 100px 100px;
	padding: 10px 0 10px 50px;
	color: white;
}
/*-------------------------- =Jumbotron----------------*/
.welcome-container,
.plan-container{
	overflow: hidden;
	background: url('../images/sebastian-lp-204232.jpg') left;
	background-size: cover;
	/*margin-top: 58px;*/
	padding: 100px 0 40px;
	color: white;
}
.triviaResult,
.plan-heading{
	font-size: 2em;
	display: block;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.dietForm{
	color: black;
}
/*-------------------------- =Search Form----------------*/
.searchForm{
	margin-top: 50px;
	color: white;
}
.fa-search{
	color: white;
}
.searchForm label{
	display: none;
}
.searchForm input[name="search"]{
	display: block;
	background: rgba(255,255,255,0.2);
	outline: none;
	margin: 0 auto;
	padding: 10px;
	font-size: 3em;
	color: white;
	border: none;
}
.searchForm input[type="submit"]{
	display: none;
}
.searchForm input[name="search"]::-webkit-input-placeholder{
	color: white;
}
.searchForm input[name="search"]:-moz-placeholder{
	color: white;
}
.searchForm input[name="search"]::-moz-placeholder{
	color: white;
}
/*-------------------------- =Search Results----------------*/
.recipe-heading,
.similarRecipeHeading{
	color: #b74949;
	text-align: center;
}
.results,
.ytResults,
.similarRecipes,
.similarVideos,
.mealPlanSchedule{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.similarRecipes a,
.results a{
	text-decoration: none;
}
/*--------- =Meal Plan CTA----*/
.mealPlan-cta{
	color: white;
	text-align: center;
	background: url('../images/meal-plan-cta.jpg') no-repeat center;
	background-size: cover;
	background-color: #b74949;
	padding: 20px;
}
.mealPlan-cta p{
	font-size: 1.5em;
	display: block;
	width: 50%;
	margin: 0 auto;
}
.mealPlan-features{
	border: solid 1px #333;
	list-style: none;
	width: 30%;
	margin: 20px auto;
	padding: 0;
	border-radius: 2px;
}
.mealPlan-cta li{
	padding: 20px 0;
	background: url('../images/cc-logo-dark.png') no-repeat left -17px;
	background-size: 100px 100px;
	background-color: white;
	color: #333;
}
.mealPlan-cta li:nth-child(odd){
	background: url('../images/cc-logo.png') no-repeat left -17px;
	background-size: 100px 100px;
	background-color: rgba(255,255,255,0.2);
}
.mealPlan-cta a{
	display: block;
	width: 10%;
	text-decoration: none;
	margin: 0 auto;
	padding: 20px;
	background-color: #1862a8;
	color: white;
	border-radius: 2px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	transition: all .3s ease;
}
/*--------- =Footer----*/
footer{
	padding: 20px;
	background-color: #333;
	color: white;
}
footer p{
	width: 50%;
}

/*-------------------------- =Meal Plan Page----------------*/
.plan-container{
	padding: 100px 60px 60px;	
}
.plan-container p{
	display: block;
	width: 50%;
	margin: 20px auto;
	text-align: center;
}
.dietForm{
	background-color: #b74949;
	width: 33%;
	margin: -50px auto 50px;
	padding: 60px;
	border-top: solid 5px #fbfbf4;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	transition: all .3s ease;
}
.dietForm label{
	text-transform: uppercase;
	font-weight: bold;
}
.dietForm input,
.select select{
	font-size: 1.5em;
	color: rgb(255,255,255,0.5);
	outline: none;
	display: block;
	width: 95%;
	margin-top: 10px;
	padding-bottom: 20px;
	border: none;
	background-color: transparent;
}
.select select{
	background-color: rgba(251,251,244,0.8);
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	border-radius: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.select{
	position: relative;
}
.select-arrow{
	position: absolute;
	top: 0;
	right: 0;
	padding: 13px;
	cursor: pointer;
}
.dietForm input[type=radio]{
	display: block;
	width: 25%;
	margin: 0 auto;
}
.dietForm input[type=submit]{
	width: 50%;
	margin: 20px auto;
	background-color: rgba(251,251,244,0.8);
}
.form-input{
	width: 95%;
	padding: 10px;
	padding-bottom: 2px;
	background-color: rgba(251,251,244,0.8);
}
.radio{
	display: flex;
	justify-content: center;
}
.form-radio{
	border: solid 1px #fbfbf4;
	text-align: center;
	width: 30%;
	margin: 5px;
	padding: 20px;
	border-radius: 2px;
	cursor: pointer;
}
.dietForm input::-webkit-input-placeholder{
	color: rgba(0,0,0,0.3);
}
.dietForm input:-moz-placeholder{
	color: rgb(255,255,255,0.9);
}
.dietForm input::-moz-placeholder{
	color: rgb(255,255,255,0.9);
}
/*-------------------------- =Meal Plan Schedule----------------*/
.mealPlanSchedule{
	color: #fbfbf4;
	background-color: #333;
	margin-bottom: 30px; 
}
.mealPlanSchudule h2{

}
.mealPlanSchedule h3{
	margin-left: 20px;
}

/*-------------------------- =Recipe Card----------------*/
.recipe,
.videoRecipe,
.recipeInstructions-container,
.ingredientList-container,
.similarVideo-container{
	width: 200px;
	margin: 20px;
	padding: 10px;
	border-radius: 2px;
	color: #b74949;
	background-color: white;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	transition: all .3s ease;
}
.recipe:hover,
.videoRecipe:hover,
.recipeInstructions-container:hover,
.ingredientList-container:hover,
.similarVideo-container:hover{
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.30);
}
.recipe{
	cursor: pointer;
}
.recipe,
.videoRecipe{
	text-align: center;
}
.recipe p{
	padding-bottom: 10px;
}
.recipe a{
	color: #b74949;
}
/*-------------------------- =Recipe Page----------------*/
.recipe-jumbotron{
	overflow: hidden;
	margin: 60px 0;
	padding: 30px;
	background-color: white;
}
.recipe-container{
	width: 25%;
	float: left;
}
.recipeImage{
	max-width: 100%;
}
.recipeImg{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.title{
	width: 60%;
	float: left;
}
.recipeTitle{
	color: #333;
	font-size: 2em;
	margin: 0;
	margin-left: 30px;
}
.stats{
	background-color: #e9e9e5;
	display: flex;
	margin: 30px 0 0 30px;
	border: solid 1px rgba(0,0,0,0.2);
}
.recipe-stat{
	width: calc(100%/3);
	padding: 20px;
	text-align: center;
}
.recipe-stat:not(:last-of-type){
	border-right: solid 1px rgba(0,0,0,0.2);
}
.recipe-stat h3,
.recipe-stat i{
	color: #333;
	font-size: 3em;
	margin: 0;
}
.recipe-stat i{
	color: #5ca260;
	margin-bottom: 10px;
}
.recipe-stat p{
	color: rgba(0,0,0,0.4);
	display: block;
	width: 50%;
	margin: 0 auto;
}
.favorites-container{
	float: left;
	margin: 30px 0 0 30px;
}
.pinterest,
.favorites{
	width: 70%;
	background-color: #b74949;
	color: white;
	border: none;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	transition: all .3s ease;
}
.pinterest:hover,
.favorites:hover
.mealPlan-cta a:hover,
.dietForm:hover{
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.70);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.70);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.70);
}
.favorites{
	float: left;
}
.pinterest{
	clear: left;
}
/*--------- =Tools----*/


.recipe img{
	max-width: 100%;
}
.ingredientList-container{
	float: left;
	background-color: #333;
	margin: 0 0 30px 30px;
	padding: 60px;
	width: 25%;
}
.ingredientList-container h4,
.recipeInstructions-container h4,
.mealPlanSchudule h2{
	width: 50%;
	color: white;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 5px;
	border-top: solid 2px #b74949;
}
.ingredientList-container ul{
	padding: 0;
	list-style: none;
	color: white;
}
.ingredientList-container li{
	padding: 10px 0;
	border-bottom: solid 1px #222;
}
/*--------- =Similar recipes----*/
.similar-container{
	float: right;
}
.similarRecipeHeading{
	text-align: center;
}
/*--------- =Instructions----*/
.recipeInstructions-container{
	background-color: white;
	width: 50%;
	margin: 30px 0 0 30px;
	padding: 60px;
	clear: left;
}
.recipeInstructions-container h4{
	color: #333;
}
.recipeInstructions{
	list-style: none;
	padding: 0;
}
.recipeInstructions li{
	padding: 20px 0;
}
/*--------- =Videos----*/
.similarVideo-container{
	width: 60%;
	margin: 30px 0 30px 30px;
	padding: 60px;
	background-color: #333;
}
.similarVideos{
	display: flex;
	justify-content: left;
	margin-left: 0;
}
.similarVideos .videoRecipe{
	margin-left: 0;
	width: 25%;
}
.ytPlayer{
	width: 100%;
	border: none;
}
.videoRecipeHeading{
	width: 50%;
	color: white;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 5px;
	border-top: solid 2px #b74949;
}

/*-------------------------- =Meal Plan----------------*/
.weekList h3{
	margin: 0;
}
.mealDay{
	float: left;
}
.day{
	clear: left;
}

/*-------------------------- =Favorite Recipes Page----------------*/
.favoriteRecipe-container{
	border: solid 2px #b74949;
	padding-top: 40px;
}


/*-------------------------- =Media Queries----------------*/
@media screen and (max-width: 764px){
	.recipeImageContainer{
		width: 100%;
		height: 300px;
		overflow: hidden;
	}
}





