nav{
	overflow: hidden;
}
nav ul{
	list-style: none;
}
nav li{
	float: left;
	text-align: center;
}
nav a{
	display: block;
	width: 70px;
	border-right: solid 1px black;
	color: black;
}
header{
	padding: 10px;
	background-color: #ff4b51;
	position: fixed;
	width: 100%;
}
.welcome-container{
	overflow: hidden;
	background: url('../images/sebastian-lp-204232.jpg') left;
	background-size: cover;
	padding: 40px;
	color: white;
}
.searchForm,
.dietForm{
	color: black;
}
.welcome,
.trivia{
}
.ytResults{
	clear: left;
}
.recipe{
	float: left;
	width: 300px;
	height: 400px;
	margin: 10px;
	padding: 20px;
	border: solid 1px #ff4b51;
	border-radius: 4px;
	color: #ff4b51;
}
.recipeImg{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.recipe img{
	max-width: 100%;
}
.recipeLink{
	border: none;
	border-radius: 15px;
	background-color: #ff4b51;
	color: white;
}
.recipeJumbotron{
	overflow: hidden;
}
.recipeImageContainer{
	width: 25%;
	float: left;
}
.recipeImage{
	max-width: 100%;
}
.tools{
	float: left;
	overflow: hidden;
	padding-left: 5%;
}
.ingredientList-container,
.equipmentList-container{
	float: left;
	margin: 40px;
}

.recipeInstructions{
	clear: left;
	
}
.recipeInstructions-container{
	background-color: #ff4b51;
	padding: 40px;
}
.recipeInstructions-container h4{
	margin: 0;
}
.mealDay{
	float: left;
}
.similarVideos{
	clear: left;
}
.day{
	clear: left;
}
.pinterest{
	position: absolute;
	top: 300px;
	left: 300px;
}
