/*-------------=Colors---------------*/
/* ---- Background - #e9e9e5
------- light font - #fbfbf4
------- red font - #b74949
------- meal cta btn - #1862a8
------- dark font - #333
-------------------------------------*/

html{ font-size: 62.5%; }
body{
	margin: 0;
	padding: 0;
	font: 1.4rem "Futura PT", Arial, sans-serif;
	color: black;
	background: #e9e9e5;
}
.loader{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding-top: 300px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	display: none;
}
.spinner{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: #fbfbf4;
	border-radius: 50%;
	display: block;
}
.spinner:after{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: -10px;
	left: -10px;
	content: '';
	border: solid 10px transparent;
	border-top-color: #b74949; 
	border-bottom-color: #b74949;
	animation: spinny .7s linear infinite; 
}
@keyframes spinny{
	0%{
		transform: rotate(0deg) scale(1);
	}
	50%{
		transform: rotate(45deg) scale(1.2);
	}
	100%{
		transform: rotate(360deg) scale(1);
	}
}
.spinner p{
	display: block;
	line-height: 100px;
	width: 50%;
	margin: 0 auto;
}
.loading{
	display: block;
}
a:visited,
.recipe a:visited{
	color: inherit;
}
/*-------------------------- =Navigation----------------*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #b74949;
	z-index: 2;
}
nav{
	width: 100%;
	overflow: hidden;
}
nav form{
	float: right;
	margin-right: 2%;
	padding: 15px 0 0;
}
nav input[type="search"]{
	color: black;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background: #fbfbf4;
}
nav ul{
	width: 100%;
	margin: 0 2% 0 2%;
	float: left;
	list-style: none;
	padding: 10px 0;
}
nav li{
	float: left;
	margin-right: 5%;
}
nav a{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
	display: block;
	padding: 10px 0;
}
nav a:hover{
	color: #fbfbf4;
	text-decoration: underline;
}
nav a:visited{
	color: #fbfbf4;
}
nav a[href*="index"]{
	background: url('../images/cc-logo.png') no-repeat -20px -27px;
	background-size: 100px 100px;
	padding: 10px 0 10px 50px;
	color: #fbfbf4;
}
.logo-nav{
	display: none;
}
/*-------------------------- =Jumbotron----------------*/
.welcome-container,
.plan-container,
.favorites-jumbotron{
	overflow: hidden;
	background: url('../images/sebastian-lp-204232.jpg') left;
	background-size: cover;
	padding: 100px 0 40px;
	color: #fbfbf4;
}
.triviaResult,
.plan-heading{
	font-size: 2em;
	display: block;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
/*-------------------------- =Search Form----------------*/
.searchForm{
	margin-top: 50px;
	color: #fbfbf4;
}
.fa-search{
	color: #fbfbf4;
}
.searchForm label{
	display: none;
}
.searchForm input[name="search"]{
	display: block;
	background: rgba(255,255,255,0.2);
	outline: none;
	margin: 0 auto;
	padding: 10px;
	font-size: 3em;
	color: #fbfbf4;
	border: none;
}
.searchForm input[type="submit"],
.nav-form input[type="submit"]{
	width: 0;
	height: 0;
	display: none;
}
.searchForm input[name="search"]::-webkit-input-placeholder{
	color: #fbfbf4;
}
.searchForm input[name="search"]:-moz-placeholder{
	color: #fbfbf4;
}
.searchForm input[name="search"]::-moz-placeholder{
	color: #fbfbf4;
}
/*-------------------------- =Search Results----------------*/
.recipe-heading,
.similarRecipeHeading{
	color: #b74949;
	text-align: center;
}
.results{
	border: solid 2px red;
}
.results,
.ytResults,
.similar-recipes,
.similar-videos,
.mealPlanSchedule{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.similarRecipes a,
.results a{
	text-decoration: none;
}
/*--------- =Meal Plan CTA----*/
.mealPlan-cta{
	color: #fbfbf4;
	text-align: center;
	background: url('../images/meal-plan-cta.jpg') no-repeat center;
	background-size: cover;
	background-color: #b74949;
	padding: 20px;
}
.mealPlan-cta p{
	font-size: 1.5em;
	display: block;
	width: 50%;
	margin: 0 auto;
}
.mealPlan-features{
	border: solid 1px #333;
	list-style: none;
	width: 30%;
	margin: 20px auto;
	padding: 0;
	border-radius: 2px;
}
.mealPlan-cta li{
	padding: 20px 0;
	background: url('../images/cc-logo-dark.png') no-repeat left -17px;
	background-size: 100px 100px;
	background-color: rgba(255,255,255,0.8);
	color: #333;
}
.mealPlan-cta li:nth-child(odd){
	background: url('../images/cc-logo.png') no-repeat left -17px;
	background-size: 100px 100px;
	background-color: rgba(255,255,255,0.2);
	color: #fbfbf4;
}
.mealPlan-cta a{
	display: block;
	width: 10%;
	text-decoration: none;
	margin: 0 auto;
	padding: 20px;
	background-color: #1862a8;
	color: #fbfbf4;
	border-radius: 2px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	transition: all .3s ease;
}
/*--------- =Footer----*/
footer{
	padding: 2%;
	background-color: #333;
	color: #fbfbf4;
}
footer h2{
	margin-left: 2%;
}
footer ul{
	margin: 0;
}

/*-------------------------- =Meal Plan Page----------------*/
.plan-container{
	padding: 100px 60px 60px;	
}
.plan-container h3{
	display: block;
	width: 75%;
	margin: 20px auto;
	text-align: center;
}
.dietForm{
	background-color: #b74949;
	width: 33%;
	margin: -50px auto 50px;
	padding: 60px;
	border-top: solid 5px #fbfbf4;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	transition: all .3s ease;
}
.dietForm label{
	text-transform: uppercase;
	font-weight: bold;
}
.dietForm input,
.select select{
	color: rgba(0,0,0,0.3);
	font-size: 1.5em;
	outline: none;
	display: block;
	width: 95%;
	margin-top: 10px;
	padding-bottom: 20px;
	border: none;
	background-color: transparent;
}
.select select{
	background-color: rgba(251,251,244,0.8);
	width: 100%;
	padding: 10px 15px;
	cursor: pointer;
	border: none;
	border-radius: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.select{
	position: relative;
}
.select-arrow{
	position: absolute;
	top: 30px;
	right: 0;
	padding: 13px;
	cursor: pointer;
}
.dietForm input[type=radio]{
	display: block;
	padding: 20px;
	margin: 0 auto;
}
.dietForm input[type=submit]{
	width: 50%;
	margin: 20px auto;
	padding: 10px;
	background-color: #1862a8;
	color: white;
	cursor: pointer;
}
.form-input{
	width: 95%;
	padding: 10px 0 2px;
	background-color: rgba(251,251,244,0.8);
}
.radio{
	display: flex;
	justify-content: center;
}
.form-radio{
	border: solid 1px #fbfbf4;
	text-align: center;
	width: 30%;
	margin: 5px;
	padding: 20px;
	border-radius: 2px;
	cursor: pointer;
}
.dietForm input::-webkit-input-placeholder{
	color: rgba(0,0,0,0.3);
}
.dietForm input:-moz-placeholder{
	color: rgba(0,0,0,0.3);
}
.dietForm input::-moz-placeholder{
	color: rgba(0,0,0,0.3);
}
/*-------------------------- =Meal Plan Schedule----------------*/
.mealPlanSchedule{
	color: #fbfbf4;
	background-color: #333;
	margin-bottom: 30px; 
	justify-content: center;
	transition: all .3s ease;
}
.mealPlanSchedule h2{
	color: #333;

}
.mealTime{
	text-align: center;
}
.weekDay{
	width: 25%;
	margin: 10px;
	padding: 20px;
	border-radius: 2px;
	background-color: #fbfbf4;
}
.weekList{
	list-style: none;
	padding: 0;
}
.weekList li{
	padding: 10px 0;
	border-bottom: solid 2px rgba(0,0,0,0.3);
}
.weekDay a{
	color: #333;
	text-decoration: none;
}
.weekDay a:hover{
	color: #b74949;
	text-decoration: underline;
}
.weekList h3{
	margin: 0;
}
/*-------------------------- =Recipe Card----------------*/
.recipe,
.videoRecipe,
.recipeInstructions-container,
.ingredientList-container,
.similarVideo-container{
	width: 200px;
	margin: 20px;
	padding: 10px;
	border-radius: 2px;
	color: #b74949;
	background-color: #fbfbf4;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	transition: all .3s ease;
}
.recipe:hover,
.videoRecipe:hover,
.recipeInstructions-container:hover,
.ingredientList-container:hover,
.similarVideo-container:hover{
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.30);
}
.recipe{
	cursor: pointer;
}
.recipe,
.videoRecipe{
	text-align: center;
}
.recipe p{
	padding-bottom: 10px;
}
.recipe a{
	color: #b74949;
}
/*-------------------------- =Recipe Page----------------*/
.recipe-jumbotron{
	overflow: hidden;
	margin: 60px 0;
	padding: 30px;
	background-color: #fbfbf4;
}
.recipe-container{
	width: 25%;
	float: left;
}
.recipeImage{
	max-width: 100%;
}
.recipeImg{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.title{
	width: 60%;
	float: left;
}
.recipeTitle{
	color: #333;
	font-size: 2em;
	margin: 0;
	margin-left: 3%;
}
.stats{
	background-color: #e9e9e5;
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0 0 3%;
}
.recipe-stat{
	width: 100%;
	padding: 20px;
	text-align: center;
	border: solid 1px rgba(0,0,0,0.2);
}
.recipe-stat h3,
.recipe-stat i{
	color: #333;
	font-size: 3em;
	margin: 0;
}
.recipe-stat i{
	color: #5ca260;
	margin-bottom: 10px;
}
.recipe-stat p{
	color: rgba(0,0,0,0.4);
	display: block;
	width: 50%;
	margin: 0 auto;
}
.favorites-container{
	clear: left;
	margin: 30px 0;
}
.pinterest,
.favorites{
	display: block;
	width: 25%;
	background-color: #b74949;
	color: #fbfbf4;
	border: none;
	margin: 10px 0 10px 0;
	padding: 10px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	transition: all .3s ease;
}
.pinterest:hover,
.favorites:hover
.mealPlan-cta a:hover,
.dietForm:hover{
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.70);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.70);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.70);
}
.favorites{
	float: left;
}
.pinterest{
	clear: left;
}
/*--------- =Tools----*/


.recipe img{
	max-width: 100%;
}
.ingredientList-container{
	float: left;
	background-color: #333;
	margin: 0 0 30px 2%;
	padding: 4%;
	width: 25%;
}
.ingredientList-container h4,
.recipeInstructions-container h4,
.mealPlanSchudule h2{
	width: 50%;
	color: #fbfbf4;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 5px;
	border-top: solid 2px #b74949;
}
.ingredientList-container ul{
	padding: 0;
	list-style: none;
	color: #fbfbf4;
}
.ingredientList-container li,
.recipeInstructions li{
	padding: 20px 0;
	border-bottom: solid 1px #222;
}
/*--------- =Instructions----*/
.recipeInstructions-container{
	background-color: #fbfbf4;
	width: 45%;
	margin: 0 0 0 2%;
	padding: 4%;
	float: left;
}
.recipeInstructions-container h4{
	color: #333;
}
.recipeInstructions{
	list-style: none;
	padding: 0;
}
/*--------- =Similar recipes----*/
.similar-container{
	float: right;
}
.similarRecipeHeading{
	text-align: center;
}

/*--------- =Videos----*/
.ytPlayer{
	width: 100%;
	border: none;
}
.videoRecipeHeading{
	width: 50%;
	color: #fbfbf4;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 5px;
	border-top: solid 2px #b74949;
}



/*-------------------------- =Favorite Recipes Page----------------*/
.favoriteRecipe-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.favorites-jumbotron h1{
	font-size: 2em;
	text-align: center;
}
.favoriteRecipe-container h1{
	font-size: 3em;
	color: #b74949;
	margin: 100px;
}
/*-------------------------- =404 Page----------------*/
.top{
	top: 0;
	left: 0;
	width: 100vw;
	height: 50vh;
	background-color: #fbfbf4;	
}
.top a{
	display: block;
	width: 50%;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
	color: #b74949; 
	text-decoration: none;
}
.top a:hover{
	text-decoration: underline;
}
.top h1{
	font-size: 5em;
	display: block;
	width: 90%;
	margin: 0 auto;
	padding-top: 150px;
	text-align: center;
	color: #b74949; 
}
.bottom{
	top: 50%;
	left: 0;
	width: 100vw;
	height: 50vh;
	background-color: #b74949;
}
.bottom h2{
	font-size: 5em;
	display: block;
	width: 90%;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
	color: #fbfbf4;
}
/*-------------------------- =Media Queries----------------*/
@media screen and (max-width: 1100px){
	.favorites-container{
		clear: left;
	}
	.recipeInstructions-container{
		float: left;
	}
	.similarVideo-container{
		clear: left;
	}
	.similar-container{
		clear: left;
		margin-left: 5%;
		border: solid 2px red;
	}
}
@media screen and (max-width: 900px){
	.ingredientList-container,
	.recipeInstructions-container{
		width: 88%;
		font-size: 1.5em;
	}
	.recipeInstructions-container{
		clear: left;
	}
	.mealPlan-cta p{
		width: 90%;
	}
	.mealPlan-features{
		width: 90%;
	}
	.dietForm{
		width: 80%;
	}
}
@media screen and (max-width: 764px){
	.recipeImageContainer,
	.videoRecipe{
		width: 100%;
		height: 300px;
		overflow: hidden;
	}
	.dietForm{
		width: 60%;
	}
}
@media screen and (max-width: 577px){
	.home-nav{
		display: none;
	}
	.logo-nav{
		display: block;	
		padding-bottom: 10px;
	}
	.searchForm input[name="search"]{
		font-size: 1em;
		width: 50%;
	}
	.recipe{
		width: 80%;
	}
	.ingredientList-container,
	.recipeInstructions-container{
		width: 76%;
		padding: 10%
	}
	.recipe-container,
	.title,
	.recipe-stat,
	.favorites-container{	
		width: 100%;
	}
	.favorites-container{
		padding-top: 10px;
	}
	.favorites,
	.pinterest{
		float: none;
		margin: 10px auto;
		padding: 20px;
	}
	.stats,
	.favorites-container{
		margin-left: 0;
	}

}





