html{ font-size: 62.5%; }
body{
	margin: 0;
	padding: 0;
	font: 1.4rem "Futura PT", Arial, sans-serif;
	color: black;
	background: #e9e9e5;
}
a:visited,
.recipe a:visited{
	color: #b74949;
}
/*-------------------------- =Navigation----------------*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	/*background-color: #b74949;*/
}
nav{
	width: 100%;
	overflow: hidden;
	
}
nav form{
	float: right;
	margin-right: 2%;
	padding: 17.5px 0;
}
nav input[type="search"]{
	color: black;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background: white;
}
nav ul{
	width: 50%;
	margin: 0 2% 0 2%;
	float: left;
	list-style: none;
	padding: 10px 0;
}
nav li{
	float: left;
	margin-right: 5%;
}
nav a{
	text-decoration: none;
	color: rgba(255,255,255,0.6);
	display: block;
	padding: 10px 0;
}
nav a:hover{
	color: white;
	text-decoration: underline;
}
nav a:visited{
	color: white;
}
nav a[href*="index"]{
	background: url('../images/cc-logo.png') no-repeat -20px -27px ;
	background-size: 100px 100px;
	padding: 10px 0 10px 50px;
	color: white;
}
/*-------------------------- =Jumbotron----------------*/
.welcome-container{
	overflow: hidden;
	background: url('../images/sebastian-lp-204232.jpg') left;
	background-size: cover;
	/*margin-top: 58px;*/
	padding: 100px 0 40px;
	color: white;
}
.triviaResult{
	font-size: 2em;
	display: block;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.dietForm{
	color: black;
}
/*-------------------------- =Search Form----------------*/
.searchForm{
	margin-top: 50px;
	color: white;
}
.fa-search{
	color: white;
}
.searchForm label{
	display: none;
}
.searchForm input[name="search"]{
	display: block;
	background: rgba(255,255,255,0.2);
	outline: none;
	margin: 0 auto;
	padding: 10px;
	font-size: 3em;
	color: white;
	border: none;
}
.searchForm input[type="submit"]{
	display: none;
}
::-webkit-input-placeholder{
	color: white;
}
:-moz-placeholder{
	color: white;
}
::-moz-placeholder{
	color: white;
}
/*-------------------------- =Search Results----------------*/
.recipe-heading,
.similarRecipeHeading,
.videoRecipeHeading{
	color: #b74949;
	text-align: center;
}
.results,
.similarRecipes,
.similarVideos{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.similarRecipes a,
.results a{
	text-decoration: none;
}

/*-------------------------- =Recipe Card----------------*/
.recipe,
.videoRecipe{
	width: 200px;
	margin: 20px;
	padding: 10px;
	border-radius: 2px;
	color: #b74949;
	background-color: white;
	text-align: center;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.05);
	transition: all .3s ease;
	cursor: pointer;
}
.recipe:hover{
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.30);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.30);
}
.recipe p{
	padding-bottom: 10px;
}
.recipe a{
	color: #b74949;
}
/*-------------------------- =Recipe Page----------------*/
.recipeJumbotron{
	overflow: hidden;
}
.recipeImg{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.recipe img{
	max-width: 100%;
}
.recipeImageContainer{
	width: 25%;
	float: left;
}
.recipeImage{
	max-width: 100%;
}
.tools{
	float: left;
	overflow: hidden;
	padding-left: 2%;
}
.recipeTitle{
	font-size: 2em;
	margin-bottom: 0;
}
.ingredientList-container,
.equipmentList-container{
	float: left;
	margin-top: 20px;
}
.ingredientList-container h4,
.equipmentList-container h4{
	margin-top: 0;
}
.ingredientList,
.equipmentList{
	list-style: none;
	padding-left: 0;
	margin-right: 30%;
}
.recipeInstructions{
	clear: left;
	list-style: none;
	padding: 0;	
}
.recipeInstructions-container{
	background-color: #b74949;
	padding: 40px;
}
.recipeInstructions-container h4{
	margin: 0;
}
.similarRecipeHeading{
	text-align: center;
}
.videoRecipe{
	width: 300px;
	cursor: default;
}
.mealDay{
	float: left;
}
.day{
	clear: left;
}
.pinterest{
	clear: left;
}
/*-------------------------- =Meal Plan----------------*/
.weekList h3{
	margin: 0;
}


/*-------------------------- =Favorite Recipes Page----------------*/
.favoriteRecipe-container{
	border: solid 2px #b74949;
	padding-top: 40px;
}


/*-------------------------- =Media Queries----------------*/
@media screen and (max-width: 764px){
	.recipeImageContainer{
		width: 100%;
		height: 300px;
		overflow: hidden;
	}
}





