.results{

}
.recipe{
	float: left;
	width: 200px;
	height: 500px;
	margin: 10px;
	padding: 20px;
	border: solid 1px #ff4b51;
	border-radius: 4px;
	color: #ff4b51;
}
.recipe img{
	max-width: 100%;
}
.recipe button{
	border: none;
	border-radius: 15px;
	background-color: #ff4b51;
	color: white;
}